:root {
    --header-height: 25vh;
    --banner-padding: 1rem;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff'), 
         url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('../fonts/Poppins-SemiBold.woff') format('woff'), 
         url('../fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsExtraLightItalic';
    src: url('../fonts/Poppins-ExtraLightItalic.woff') format('woff'), 
         url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'QTVagaRound-Bold';
    src: url('../fonts/QTVagaRound-Bold.woff') format('woff'), 
         url('../fonts/QTVagaRound-Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
/* ********* ********** ********** */
/* ********* * Header * ********** */
/* ********* ********** ********** */
.page-header-wrapper {
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url('../assets/header-background.jpg');
    background-size: cover;
    background-position: bottom;
    min-height: var(--header-height);
    width: 100vw;
    min-width: 240px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem 0 2rem;
}

.business-logo-wrapper {
    display: flex;
    
    align-items: center;
    max-width: 30rem;
    min-width: 10rem;
    margin-top: auto;
}

.business-logo {
    width: 100%;

}


.page-nav {

    font-size: 1.2rem;
    min-height: 5rem;
    max-width: 600px;
    display: flex; 
    align-items: center;
    flex-wrap:wrap;
    margin-top: auto;
    margin-right: auto;
    font-family: 'PoppinsSemiBold';
}

.navlink {
    text-decoration: none;
    color:black;
    color: rgb(255,255,255);
    padding-left: 1rem;
    white-space: nowrap;
    font-size: 1em;
    color:  #ffffe9;
    opacity: 1;
    transition: 0.3s;
}

.navlink:hover {
    text-decoration: none;
    color:  rgb(59, 238, 116);
    opacity: 1;

}
/* ********* *********** ********** */
/* ********* * General * ********** */
/* ********* *********** ********** */
*{
  box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    margin:0;
    background-color: rgba(131, 131, 131, 0.082);
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}
  
#content-wrap {
    flex: 1 1 auto;
}


/* ********* *********** ********** */
/* ********* * Section * ********** */
/* ********* *********** ********** */
.section-wrapper {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
    background-color: white;
}

.quote {
    font-family: PoppinsExtraLightItalic
}

.section ul {
    list-style: none;
}

.section ul li::before {
    content: "\2022";
    color: rgb(59, 238, 116);
    font-weight: bold;
    display: inline-block; 
    width: 2em;
    margin-left: -2em;
  }

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem;
    
}


.section-title {
    font-family: 'PoppinsSemiBold';   
    font-size: 2.4rem;
    padding: 0.75em 0;
}

.section-content {
    max-width: 50%;
}

.section-content ul {
    padding: 1em ;
}

.section-content-image {
    display: block;
    width: clamp(1.5rem, 100%, 20rem);
    margin: 0 auto;
    border-radius: 10%;
}

.image-cropper {
    max-width: 300px;
}
/* ********* *********** ********** */
/* ********* * Card * ********** */
/* ********* *********** ********** */

.card-section-title {
    font-size: 3em;
    font-family: 'PoppinsSemiBold';
    align-self: center;
    padding: 10px;
}

.card-section-wrapper {
    background-color: white;
    
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.card {
    max-width: calc(50% - 50px);
    min-width: 250px;
    flex-basis: 1 1 250px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: 'PoppinsSemiBold';
    text-align: center;
}


.card-icon {
    width: auto;
    height: 50px;
}
.card-content {
    margin: 20px;
}



/* ********* *********** ********** */
/* ********* * Footer * ********** */
/* ********* *********** ********** */
.footer {
    background-color: darkslategray;
    min-height: 50px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-basic {
    padding:40px 0;
    color:#4b4c4d;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}


/* ********* *********** ********** */
/* ********* ** Media ** ********** */
/* ********* *********** ********** */
@media only screen and (max-width: 400px) {
    #page-container {
        min-width: 400px;
    }
    .section-content{
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
 
}


@media only screen and (min-width: 900px) {

}



/* ********* *********** ********** */
/* ********* ** Contact form ** ********** */
/* ********* *********** ********** */

.form-container {
    margin: 0 20px
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact-form {
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact-form h3 {
  display: block;
  font-family: 'PoppinsSemiBold';
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #43A047;
}

#contact-form h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 20px;
  font-weight: 400;
  font-family: 'PoppinsSemiBold'
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact-form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact-form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact-form button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
/* ********* *********** ********** */
/* ********* ** Custom ** ********** */
/* ********* *********** ********** */
.highlight{
    color: rgb(22, 134, 31)
  }