ul {list-style-type: none;}
body {
  font-family: Verdana, sans-serif;
  background-color: #1abcbc;
  background-image: url("background.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

.monthParent {
  
  width: 100%;
  background: #1abcbc;

}
/* Month header */
.month {
  padding: 30px 0px;
  width: 25%;
  background: #1abcbc;
  text-align: center;
  caret-color: transparent;
  margin: 0px auto;
  width: 300px;
  padding-right: 6%;
  
}


/* Month list */
.month ul {
  margin: 0;
  padding: 0;
  
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 160px;
  padding-left:10px;
}

.month .next {
  float: right;
  padding-top: 160px;
  padding-right: 10px;
  color: #1abcbc;
}

.month .today {
  float: left;
  padding-top: 160px;
  padding-left:10px;
  color: #1abcbc;
}

#prevBtn {
  background-color: #1abcbc;
  color: white;
  border: 2px solid rgb(194, 226, 226);
}

#nextBtn {
  background-color: #1abcbc;
  border: none;
  color: white;
  border: 2px solid rgb(194, 226, 226);
}

#todayBtn {
  font-size: 15px;
  background-color: #1abcbc;
  border: none;
  color: white;
  border: 2px solid rgb(194, 226, 226);
}

.daysBtn {
  font-size: 15px;
  background-color: rgb(236, 236, 233);
  border: none;
  color: darkgrey;
  height: 35px;
  width: 35px;
}

.daysEmpty {
  font-size: 15px;
  background-color: rgb(236, 236, 233);
  border: none;
  color: darkgrey;
  height: 35px;
  width: 35px;
}

#todayBtn:hover {
  background-color: rgb(194, 226, 226);
}

#prevBtn:hover {
  background-color: rgb(194, 226, 226);
}

#nextBtn:hover {
  background-color: rgb(194, 226, 226);
}

.daysBtn:hover {
  border: 2px solid rgb(194, 218, 226);
}


/* Highlight the "current" day */
.active {
  font-size: 15px;
  border: none;
  color: darkgrey;
  height: 35px;
  width: 35px;
  background-color: rgba(194, 226, 226);
}

.active:hover {
  border: 2px solid rgb(194, 207, 226);
}

.selectedActive {
  font-size: 15px;
  border: none;
  color: darkgrey;
  border: 2px solid rgb(79, 194, 194);
  height: 35px;
  width: 35px;
  background-color: rgba(194, 226, 226);
}

/* Highlight the "current" day */
.selected {
  font-size: 15px;
  border: none;
  color: darkgrey;
  border: 2px solid rgb(79, 194, 194);
  height: 35px;
  width: 35px;
}

/* Weekdays (Mon-Sun) */
.mDays {
  margin: 0;
  padding: 0px 0px;
  width: 100%;
  text-align: center;
  background-color: rgb(236, 236, 233);
  border-spacing: 0;
  caret-color: transparent;
  cursor: default;
}

.mDays th {
  padding: 10px;
  border-bottom: 1px solid rgb(79, 194, 194);
  background-color:rgb(194, 226, 226);
  color: white;
  
}

.mDays td {
  font-size: 10pt;
  padding: 10px;
  
}

.canvasClock {
  background-color: #1abcbc;
}

.heading{
  font-size: 20px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkgrey;
}

#pageWrap {
  border: 3px solid #2f9dbe;
}